@keyframes dd {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
#myCollapse .form-control{
    width:20px;
}
#partners ul li{
    position: relative;
}
#partners ul li div.show{
    background: rgba(0,0,0,0.5);
    width: 89%;
    height: 66%;
    position: absolute;
    display: block;
}
*{
    box-sizing:border-box;

}
body{
    margin:0;
    padding:0;
}
p{
    margin: 0;
    padding:0;
}
a{
    color:#000000;
    text-decoration: none;
    font-size: 1.5rem;
}
#cui_jian #nav{
    position: relative;
    width: 100%;
}

#cui_jian #nav div:not(:first-child){
    margin-top: 33px;
    vertical-align: bottom;
    position: relative;
}
#cui_jian #nar img{
    width: 100px ;
    height:500px ;


}
#cui_jian .icon1,.icon2,.icon3,.icon4{
    display: inline-block;
    width: 29px;
    height: 27px;
    background: url("../images/icon1.jpg") no-repeat;
    position: absolute;
    top: -3px ;left: -10px ;
}
#cui_jian .icon2{
    background: url("../images/icon2.jpg") no-repeat;
}
#cui_jian .icon3{
    background: url("../images/icon3.jpg") no-repeat;
}
#cui_jian .icon4{
    background: url("../images/icon4.jpg") no-repeat;
}
#cui_jian #myCollapse {
    margin-left: 50px;
}
#cui_jian .navbar-default{
    margin-bottom: 0;
}
#cui_jian .btn_click{
    border: none;
}
@media screen and (min-width:992px) and (max-width:1200px){
    #nav{
        position:relative;
        width: 100%;
    }
    #cui_jian .container{
        width:1199px;
    }
    .form-group.has-feedback{
        margin-right:20px;
    }
}
#cui_jian #sc{
    height:2.5rem;
}
#cui_jian #sc p{
    font-size:1.3rem;
    margin-top:-2rem;
    margin-bottom:2.5rem;
}
@media screen and (max-width:767px){
    .navbar-default{
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
        background: #291111;
        border-bottom: 1px solid #fff;
        font-size: .6rem;
    }

}
/*ҳ������*/
ul li{
    margin: 0;
    padding: 0;
}
#u1 ul li{
    border-bottom: 1px dashed #ddd;
    padding: 5px 0;
}
#u2 li{
    list-style: none;
}
#u1 ul li:first-child{
    list-style: none;
    font-size: 1.2em;
    margin-left: -10px;
}
#u2 ul{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#u2 ul li{
    width:25%;
    height: 30px;
    border-bottom:none;
    padding-left: 30px;
}
#u3 li a{
    text-decoration: none;
    color: #000000;
}
#u1 #u3 li+li:hover{
    height: 30px;
    border-bottom:none;
    background: orangered;
    color:#fff;
}
#bottom{
    height: 300px;
    margin: 0;
    padding: 0;
}
#d1,#d2,#d3,#d4{
    width:100%;
    height: 100%;
    display: none;
    margin-left: 15px;
}
.show{
    display: block;
}
#main{
    height:580px;
}
#d2 p{
    font-size: 15px;
    margin-left: 10px;
}
#d2 hr{
    padding: 0;
    margin: 0;
}
#d2 ul{
    margin-left: -28px;
}
#d2 b{
    color:#EC6D2B;
    margin-left: 10px;
}
#d2>ul li{
    list-style: none;
    float: left;
    padding: 5px 5px;
    text-align: center;
}
#d2>ul>li a{
    border: 1px solid #ddd;
    padding: 0 3px;
}
#d3 hr{
    margin: 0;
    padding: 0;
}
#d3 input{
    width: 355px;
    height: 30px;
    margin-top:15px;
}
#d3 button{
    width: 100px;
    position: relative;
}
#d4 hr{
    margin: 0;
    padding: 0;
}
#d4-1{
    border: 1px solid #ddd;
    width: 585px;
    height: 114px;
    margin-top: 15px;
}
#d4-2{
    border: 1px solid #ddd;
    width: 150px;
    height: 30px;
}
#d4 img{
    margin-top: -5px;
}
#d4 a{
    position: relative;
}
#d4 button{
    width: 186px;
    height: 45px;
    background: #EC6D2B;
    margin-top: 15px;
}
#ddd{
    display: none;
    margin-top: 30px;
}
#ccc{
    display: none;
    margin: 20px 0;
}
/*ҳ��ײ�*/
footer{
    width:100%;
    height:210px;
}
footer .row div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .row div{
    padding: 0;
}
footer .row{
    width: 100%;
    min-height:40px;
    margin:0;
    background: #27120F;
}
footer .row div ul li{
    color:#fff;
    padding: 0;
    margin-bottom: 5px;
    font-size:12px;
}
footer .row div ul li:first-child{
    font-weight: bold;
    margin-bottom:8px;
    font-size:14px;
}
footer .row p{
    padding: 0;
    font-size:12px;
    color:#fff;
    margin: 0;
}
footer .row p.first{
    padding: 0;
    margin-bottom: 10px;
    font-size:14px;
    font-weight: bold;
    color:#fff;
}
footer #finally{
    margin-left:40px;
    width:233px;
    height:205px;
}
footer img{
    margin-top:5px;
}
footer #font{
    width:135px;
    color:#fff;
    height:90px;
    font-size:12px;
    line-height:1.8;
    position: relative;
    top:-90px;
    left:100px;
}
#di{
    background:#F06D2B;
    width:100%;
    height: 40px;
    position: relative;
    text-align: center;
}
footer div.container{
    width:100%;
    padding: 0;
}
footer #row2{
    height: 40px;
}
@media screen and (max-width:1200px){
    footer .container #row1{
        display: none;
    }
}
